@import "../lib/normalize.css";

@import "_debugging.css";
@import "_header.css";
@import "_case-study.css";
@import "_footer.css";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto+Slab:wght@600&display=swap');

:root {
  --theme-dark-green: #024e55;
  --theme-green: #026670;
  --theme-light-green: #067984;
  --theme-yellow: #FCE181;
  --theme-white: #ffffff;
  --theme-black: #222222;

  --space-xs: 0.75rem;
  --space-s: 1rem;
  --space-m: 1.5rem;
  --space-l: 2rem;
  --space-xl: 3rem;

  --topmost-layer: 100000;
  --debugging-layer: 100001;
}

.__hide {
  display: none !important;
}

/* Portfolio-level resets */
html {
  scroll-behavior: smooth;
}

body {
  color: var(--theme-black);
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

img, video {
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, p, figure, ul, ol, section, div {
  margin: 0;
}

section {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);
}

section:first-of-type {
  margin-top: var(--space-m);
}

section:last-of-type {
  margin-bottom: 0;
}

h2 {
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
  margin-bottom: var(--space-l);
  font-family: 'Roboto Slab', serif;
  font-size: 1.75rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  width: calc(100% - 5rem);
}

h3 {
  margin-bottom: var(--space-s);
}

h4 {
  margin-bottom: var(--space-xs);
}

p, ul, ol {
  margin-bottom: var(--space-m);
}


/* TODO: find a better home for this */

.image-with-caption {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  grid-gap: var(--grid-gap);
}

@media (min-width: 768px) {
  .image-with-caption {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
  }
}

/* TODO: find a better home for this */
.desktop-video-prototype {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktop-video-prototype > .desktop {
  z-index: 10;
  width: 100%;
  pointer-events: none;
}

.desktop-video-prototype > .screen {
  position: absolute;
  width: 85.5%;
  top: 7%;
  clip-path: inset(0px 5%);
}

/* TODO: find a better home for this */
.timeline {
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
  display: grid;
  grid-template-columns: 1fr 30px 5px 30px 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "step-1 step-1-line line . ."". . line step-2-line step-2 ""step-3 step-3-line line . ."". . line step-4-line step-4 ""step-5 step-5-line line . ."". . line step-6-line step-6 ""step-7 step-7-line line . ."". . line step-8-line step-8 ""step-9 step-9-line line . .";
  counter-reset: listCounter;
}

.timeline > .line {
  grid-area: line;
  height: 100%;
  width: 0;
  border: 5px solid black;
  border-radius: 5px;
  margin-left: -2.5px;
}

.timeline > .step {
  align-self: center;
  display: flex;
  align-items: center;
}

.timeline > .step:nth-child(2n+1) {
  justify-self: left;
}

.timeline > .step:nth-child(2n+1):before {
  counter-increment: listCounter;
  content: counter(listCounter) " ";
  /*Instead of ". " */
  text-align: center;
  border: 1px solid black;
  padding: 0.5rem;
  height: 1em;
  width: 1em;
  min-width: 1em;
  text-align: center;
  border-radius: 50%;
  display: inline-flex;
  line-height: 0;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
}

.timeline > .step:nth-child(2n) {
  justify-self: right;
  text-align: right;
}

.timeline > .step:nth-child(2n):after {
  counter-increment: listCounter;
  content: counter(listCounter) " ";
  text-align: center;
  border: 1px solid black;
  padding: 0.5rem;
  height: 1em;
  width: 1em;
  min-width: 1em;
  text-align: center;
  border-radius: 50%;
  display: inline-flex;
  line-height: 0;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
}

.timeline > .step.step-1 { grid-area: step-1; }
.timeline > .step.step-2 { grid-area: step-2; }
.timeline > .step.step-3 { grid-area: step-3; }
.timeline > .step.step-4 { grid-area: step-4; }
.timeline > .step.step-5 { grid-area: step-5; }
.timeline > .step.step-6 { grid-area: step-6; }
.timeline > .step.step-7 { grid-area: step-7; }
.timeline > .step.step-8 { grid-area: step-8; }
.timeline > .step.step-9 { grid-area: step-9; }

.timeline > .step-line {
  display: flex;
  align-items: center;
  transform: translateX(5px);
}

.timeline > .step-line:after {
  content: "";
  background: black;
  height: 10px;
  width: 30px;
  border-radius: 10px;
  transform: translateX(-10px);
}

.timeline > .step-line:nth-child(2n):after {
  display: flex;
  align-items: center;
  transform: translateX(0px);
}

.timeline > .step-1-line { grid-area: step-1-line; }
.timeline > .step-2-line { grid-area: step-2-line; }
.timeline > .step-3-line { grid-area: step-3-line; }
.timeline > .step-4-line { grid-area: step-4-line; }
.timeline > .step-5-line { grid-area: step-5-line; }
.timeline > .step-6-line { grid-area: step-6-line; }
.timeline > .step-7-line { grid-area: step-7-line; }
.timeline > .step-8-line { grid-area: step-8-line; }
.timeline > .step-9-line { grid-area: step-9-line; }

@media (min-width: 768px) {
  .timeline {
    padding: 0;
    overflow: scroll;
    overflow-y: hidden;
    list-style-type: none;
    list-style-position: inside;
    counter-reset: listCounter;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 30px 5px 30px 1fr;
    gap: 1px 1px;
    grid-template-areas: "step-1 . step-3 . step-5 . step-7 . step-9" "step-1-line . step-3-line . step-5-line . step-7-line . step-9-line" "line line line line line line line line line" ". step-2-line . step-4-line . step-6-line . step-8-line ." ". step-2 . step-4 . step-6 . step-8 .";
  }

  .timeline > .step {
    display: flex;
    flex-direction: column;
    width: 16vw;
  }

  .timeline > .step:nth-child(2n) {
    align-self: flex-end;
    text-align: center;
  }

  .timeline > .step:nth-child(2n+1) {
    align-self: flex-start;
    text-align: center;
  }

  .timeline > .step:nth-child(2n):after {
    margin-left: unset;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

  .timeline > .step:nth-child(2n+1):before {
    margin-right: unset;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .timeline > .line {
    grid-area: line;
    width: 100%;
    height: 1px;
    background: black;
    border: 2px solid black;
    border-radius: 1px;
    margin-top: unset;
    margin-left: unset;
  }

  .timeline > .step-line:after {
    height: 30px;
    width: 5px;
    transform: translateX(7.5vw) translateY(-3px);
  }

  .timeline > .step-line:nth-child(2n):after {
    transform: translateX(7.5vw) translateY(3px);
  }
}
