.footer {
  display: flex;
  flex-direction: column;
  position: sticky;
  bottom: 0;
  z-index: var(--topmost-layer)
}

.footer > .scroll-top {
  text-align: right;
  font-size: 3rem;
  display: inline-block;
  text-decoration: none;
  color: var(--theme-black);
  clip-path: inset(25% 0px 0px 0px);
}

.footer > .social {
  background-color: var(--theme-black);
  margin: 0;
  padding: 0.75rem;
  text-align: center;
}

.footer > .social > .icon {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.footer > .social > .icon > .link {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

.footer > .social > .icon > .link > .image {
  width: 100%;
}

@media (min-width: 768px) {
  .footer--social_icons {}
  .footer--social_icon {}
  .footer--social_icon_link {}
  .footer--social_icon_image {}
}
