@media (max-width: 1440px) {

  section img {
    display: block;
  }

  section > ul {
    padding: 0;
    width: calc(100% - 20vw);
  }

  .grid {
    width: calc(100% - 10vw);
    max-width: 500px;
  }

  main img,
  .grid img {
    width: 100%;
  }

  .grid .grid {
    width: 100%;
  }

  main #hero-section > * {
    margin-bottom: 3em;
    margin-top: 3em;
  }

  main #kickoff-section img {
    width: 100%;
  }

  main #kickoff-section figure figcaption p {
    margin-top: 1em;
    margin-bottom: 2.5em;
    text-align: center;
  }

  main #kickoff-section .grid {
    grid-template-columns: auto 1fr;
    align-items: normal;
    gap: 2em 1em;
  }

  main #kickoff-section .grid div {
    text-align: center;
    width: 30vw;
  }

  main #kickoff-section .grid img {
    margin: auto;
    width: 75%;
  }

  main #kickoff-section .grid h4,
  main #kickoff-section .grid p {
    margin-top: 0;
  }

  /* analyzing wireframes grid */
  main #analyzing-wireframes-grid-test {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "col-1 col-2 col-3";
  }

  main #analyzing-wireframes-grid-test .col-1 {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas: "education""micro-ent";
    grid-area: col-1;
  }

  main #analyzing-wireframes-grid-test .col-2 {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas: "home""beliefs";
    grid-area: col-2;
  }

  main #analyzing-wireframes-grid-test .col-3 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "team""untitled""health-gender";
    grid-area: col-3;
  }

  main #analyzing-wireframes-grid-test .col-3 .health-gender-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "health gender";
    grid-area: health-gender;
  }

  main #analyzing-wireframes-grid-test .education {
    grid-area: education;
  }

  main #analyzing-wireframes-grid-test .micro-ent {
    grid-area: micro-ent;
  }

  main #analyzing-wireframes-grid-test .beliefs {
    grid-area: beliefs;
  }

  main #analyzing-wireframes-grid-test .home {
    grid-area: home;
  }

  main #analyzing-wireframes-grid-test .team {
    grid-area: team;
  }

  main #analyzing-wireframes-grid-test .untitled {
    grid-area: untitled;
  }

  main #analyzing-wireframes-grid-test .health {
    grid-area: health;
  }

  main #analyzing-wireframes-grid-test .gender {
    grid-area: gender;
  }

  /* timeline styles */
  main #design-process-section h2 {
    margin-bottom: 3em;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  /* medium */
}

@media (min-width: 768px) {
  /* large */
  main {
    font-size: 24px;
    line-height: 1.15;
  }

  .grid {
    width: calc(100% - 20vw);
    max-width: 1200px;
  }

  #project-brief-section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    gap: 2em;
    grid-template-areas: "company company" "context project";
  }

  .company { grid-area: company; }

  .context { grid-area: context; }
  .context h3:first-child { margin-top: 0; }

  .project { grid-area: project; }
  .project h4:first-child { margin-top: 0; }
  .project h4 { margin-bottom: 1em; }
  .project p { margin-top: 1em; }

  main #design-process-section h2 {
    margin-bottom: 3em;
  }

  #kickoff-section #kickoff-section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    gap: 2em;
    grid-template-areas: "story images";
  }

  #kickoff-section #kickoff-section-grid .story { grid-area: story; }
  #kickoff-section #kickoff-section-grid .images { grid-area: images; }

  #kickoff-section #design-principles-grid {
    grid-template-columns: min-content min-content min-content min-content;
    grid-template-rows: min-content min-content;
    gap: 2em;
    grid-template-areas: "ca-header pc-header s-header ffp-header" "ca-text pc-text s-text ffp-text";
    margin-top: 2em;
  }

  #kickoff-section #design-principles-grid > * {
    width: 10em;
  }

  #kickoff-section #design-principles-grid .ca-header { grid-area: ca-header; }
  #kickoff-section #design-principles-grid .pc-header { grid-area: pc-header; }
  #kickoff-section #design-principles-grid .s-header { grid-area: s-header; }
  #kickoff-section #design-principles-grid .ffp-header { grid-area: ffp-header; }
  #kickoff-section #design-principles-grid .ca-text { grid-area: ca-text; }
  #kickoff-section #design-principles-grid .pc-text { grid-area: pc-text; }
  #kickoff-section #design-principles-grid .s-text { grid-area: s-text; }
  #kickoff-section #design-principles-grid .ffp-text { grid-area: ffp-text; }

  #research-section #competitive-analysis-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: ". . ." ". . .";
    gap: 1em;
  }

  .moodboard-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "first second";
    gap: 1em;
    margin: 6em auto;
  }

  .moodboard-grid .first { grid-area: first }
  .moodboard-grid .second { grid-area: second }
  .moodboard-grid .grid { width: 100%; }
  .moodboard-grid ul { margin-bottom: 0; }

  .moodboard-grid img {
    width: 100%;
    align-self: center;
  }

  .moodboard-grid img,
  .moodboard-grid h3,
  .moodboard-grid h4 {
    margin-top: 0;
  }

  .moodboard-grid .positioned .grid-list {
    margin: auto;
  }
  /* .moodboard-grid .positioned h3 {
    text-align: center;
  } */

  section > ul {
    padding: 0;
    width: calc(100% - 30vw);
  }

  .moodboard-grid img ~ img {
    margin-top: 1em;
  }

  .moodboard-grid#final-prototype {
    grid-template-columns: 2fr 5fr;
  }

  #hero-section > div.macbook-with-video > video {
    top: 11%;
  }

  #round-1-section > div:nth-child(3) > div.positioned.first > div > div > video {
    width: 87%;
    top: 8%;
  }

  #round-2-section > div:nth-child(3) > div.positioned.first > div > video {
    top: 7%;
  }

  #final-prototype > div.positioned.second > div > video {
    top: 7%;
  }
}

/* <div class="moodboard-grid">
  <div class="positioned first">

  </div>
  <div class="positioned second">

  </div>
</div> */
