@media (max-width: 1440px) {
  /* default */

  main {
    max-width: 30em;
    margin: auto;
    padding: 1em;
  }

  main img {
    width: 100%;
  }

  main h1,
  main h2 {
    text-align: center;
  }

  main #kickoff-section .grid {
    grid-template-columns: 10em 1fr;
  }

  main #kickoff-section .grid img {
    width: 50%;
  }

  main #kickoff-section .grid div {
    text-align: center;
  }

  /* timeline styles */
  main #design-process-timeline {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 30px 5px 30px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "step-1 step-1-line line . ." ". . line step-2-line step-2 " "step-3 step-3-line line . ." ". . line step-4-line step-4 " "step-5 step-5-line line . ." ". . line step-6-line step-6 " "step-7 step-7-line line . ." ". . line step-8-line step-8 " "step-9 step-9-line line . ." ". . line step-10-line step-10 " "step-11 step-11-line line . .";
    counter-reset: listCounter;
  }

  main #design-process-timeline li {
    align-self: center;
    display: flex;
    align-items: center;
  }

  main #design-process-timeline li:nth-child(2n+1):before {
    counter-increment: listCounter;
    content: counter(listCounter) " "; /*Instead of ". " */
    text-align: center;
    border: 1px solid black;
    padding: 0.5rem;
    height: 1em;
    width: 1em;
    min-width: 1em;
    text-align: center;
    border-radius: 50%;
    display: inline-flex;
    line-height: 0;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
  }

  main #design-process-timeline li:nth-child(2n):after {
    counter-increment: listCounter;
    content: counter(listCounter) " ";
    text-align: center;
    border: 1px solid black;
    padding: 0.5rem;
    height: 1em;
    width: 1em;
    min-width: 1em;
    text-align: center;
    border-radius: 50%;
    display: inline-flex;
    line-height: 0;
    justify-content: center;
    align-items: center;
    margin-left: 0.5em;
  }

  main #design-process-timeline li:nth-child(2n+1) {
    justify-self: left;
  }

  main #design-process-timeline li:nth-child(2n) {
    justify-self: right;
    text-align: right;
  }

  .step-1 { grid-area: step-1; }
  .step-2 { grid-area: step-2; }
  .step-3 { grid-area: step-3; }
  .step-4 { grid-area: step-4; }
  .step-5 { grid-area: step-5; }
  .step-6 { grid-area: step-6; }
  .step-7 { grid-area: step-7; }
  .step-8 { grid-area: step-8; }
  .step-9 { grid-area: step-9; }
  .step-10 { grid-area: step-10; }
  .step-11 { grid-area: step-11; }
  .step-line {
    display: flex;
    align-items: center;
    transform: translateX(5px);
  }
  .step-line:nth-child(2n):after {
    display: flex;
    align-items: center;
    transform: translateX(-7.5px);
  }
  .step-line:after {
    content: "";
    background: black;
    height: 10px;
    width: 30px;
    border-radius: 10px;
  }
  .step-1-line { grid-area: step-1-line; }
  .step-2-line { grid-area: step-2-line; }
  .step-3-line { grid-area: step-3-line; }
  .step-4-line { grid-area: step-4-line; }
  .step-5-line { grid-area: step-5-line; }
  .step-6-line { grid-area: step-6-line; }
  .step-7-line { grid-area: step-7-line; }
  .step-8-line { grid-area: step-8-line; }
  .step-9-line { grid-area: step-9-line; }
  .step-10-line { grid-area: step-10-line; }
  .step-11-line { grid-area: step-11-line; }
  .line {
    grid-area: line;
    height: 100%;
    width: 0;
    border: 5px solid black;
    border-radius: 5px;
    margin-left: -2.5px;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  /* medium */
}

@media (min-width: 768px) {
  /* large */
}
