@media (min-width: 768px) {
  main#home {
    width: 50%;
    margin: 0;
    text-align: left;
    padding-left: 3em;
    max-width: 35em;
    height: calc(100vh - 9em);
  }

  main#home h1 {
    font-size: 3em;
  }

  main#home p {
    font-size: 1.5em;
    justify-self: left;
  }

  main#home #case-studies{
    justify-self: right;
    align-self: start;
  }
}
